use master
go
drop database [QuanLyBanHangTapHoa]
go
create database [QuanLyBanHangTapHoa]
go

USE [QuanLyBanHangTapHoa]
GO
/****** Object:  Table [dbo].[DsChiTietHangTrongKho]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DsChiTietHangTrongKho](
	[MaHH] [char](10) NOT NULL,
	[MaKho] [char](10) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_Thuoc] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC,
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHH] [char](10) NOT NULL,
	[TenHH] [nvarchar](50) NULL,
	[MaLoai] [char](10) NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[SoLuong] [int] NULL,
	[MaHH] [char](10) NOT NULL,
	[MaPN] [char](10) NOT NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_HoaDonNhap_1] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC,
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDonXuat]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonXuat](
	[MaPX] [char](10) NOT NULL,
	[MaHH] [char](10) NOT NULL,
	[SoLuong] [char](10) NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_HoaDonXuat_1] PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC,
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Khachhang]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Khachhang](
	[MaKH] [char](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
 CONSTRAINT [PK_Khachhang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kho](
	[MaKho] [char](10) NOT NULL,
	[TenKho] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SLHHToiDa] [int] NULL,
	[MaNV] [char](10) NULL,
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiHH]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiHH](
	[MaLoai] [char](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiHH] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhaCC]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaCC](
	[MaNCC] [char](10) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
 CONSTRAINT [PK_NhaCC] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[QueQuan] [nvarchar](50) NULL,
	[NamSinh] [date] NULL,
	[ChucVu] [nvarchar](50) NULL,
	[LuongThang] [nchar](10) NULL,
	[GioiTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [char](10) NOT NULL,
	[NgayThang] [date] NULL,
	[TongTien] [int] NULL,
	[MaNV] [char](10) NULL,
	[MaNCC] [char](10) NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MaPX] [char](10) NOT NULL,
	[NgayThang] [date] NULL,
	[TongTien] [int] NULL,
	[MaNV] [char](10) NULL,
	[MaKH] [char](10) NULL,
 CONSTRAINT [PK_PhieuXuat] PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 4/13/2020 11:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserTable](
	[userName] [nvarchar](50) NOT NULL,
	[passWord] [char](10) NOT NULL,
	[properties] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[userName] ASC,
	[passWord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DsChiTietHangTrongKho] ([MaHH], [MaKho], [SoLuong]) VALUES (N'1         ', N'1         ', 30)
INSERT [dbo].[DsChiTietHangTrongKho] ([MaHH], [MaKho], [SoLuong]) VALUES (N'1         ', N'2         ', 40)
INSERT [dbo].[DsChiTietHangTrongKho] ([MaHH], [MaKho], [SoLuong]) VALUES (N'1         ', N'3         ', 51)
GO
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [MaLoai]) VALUES (N'1         ', N'Kem đánh răng Crest', N'1         ')
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [MaLoai]) VALUES (N'10        ', N'Kem đánh răng Arm & Hammer', N'1         ')
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [MaLoai]) VALUES (N'11        ', N'Mì tôm hảo hảo chua cay', N'2         ')
INSERT [dbo].[HoaDonNhap] ([SoLuong], [MaHH], [MaPN], [DonGia]) VALUES (50, N'1         ', N'1         ', 4000)
INSERT [dbo].[HoaDonNhap] ([SoLuong], [MaHH], [MaPN], [DonGia]) VALUES (50, N'1         ', N'31        ', 3500)
INSERT [dbo].[HoaDonNhap] ([SoLuong], [MaHH], [MaPN], [DonGia]) VALUES (50, N'1         ', N'72        ', 3000)
INSERT [dbo].[HoaDonXuat] ([MaPX], [MaHH], [SoLuong], [DonGia]) VALUES (N'1         ', N'1         ', N'50        ', 9000)
INSERT [dbo].[HoaDonXuat] ([MaPX], [MaHH], [SoLuong], [DonGia]) VALUES (N'10        ', N'10        ', N'50        ', 9000)
INSERT [dbo].[HoaDonXuat] ([MaPX], [MaHH], [SoLuong], [DonGia]) VALUES (N'11        ', N'11        ', N'50        ', 9000)
INSERT [dbo].[Khachhang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'1         ', N'Nguyễn văn quang', N'nam định', N'012345    ')
INSERT [dbo].[Khachhang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'10        ', N'Nguyễn thi thu', N'nha trang', N'013452    ')
INSERT [dbo].[Khachhang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'11        ', N'Nguyễn thị ánh', N'điên biên', N'013245    ')
INSERT [dbo].[Kho] ([MaKho], [TenKho], [DiaChi], [SLHHToiDa], [MaNV]) VALUES (N'1         ', N'Kho 1', N'69 dương khuê cầu giấy hà nội', 600000, N'1         ')
INSERT [dbo].[Kho] ([MaKho], [TenKho], [DiaChi], [SLHHToiDa], [MaNV]) VALUES (N'2         ', N'Kho 2', N'89 nguyễn hoàng cầu giấy hà nội', 600000, N'1         ')
INSERT [dbo].[Kho] ([MaKho], [TenKho], [DiaChi], [SLHHToiDa], [MaNV]) VALUES (N'3         ', N'Kho 3', N'69 Phạm văn đồng cầu giấy hà nội', 600000, N'1         ')
INSERT [dbo].[LoaiHH] ([MaLoai], [TenLoai]) VALUES (N'1         ', N'Kem đánh răng')
INSERT [dbo].[LoaiHH] ([MaLoai], [TenLoai]) VALUES (N'2         ', N'Mì tôm')
INSERT [dbo].[LoaiHH] ([MaLoai], [TenLoai]) VALUES (N'3         ', N'Dầu gội đầu')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'1         ', N'Kem đánh răng', N'80 lê đức thọ', N'54321     ')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'2         ', N'Mì tôm', N'90 phạm văn đồng', N'54322     ')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'3         ', N'Dầu gội đầu', N'80 duy tân', N'54323     ')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [QueQuan], [NamSinh], [ChucVu], [LuongThang], [GioiTinh]) VALUES (N'1         ', N'Nguyễn văn Quang', N'Nam Định', CAST(N'1988-01-01' AS Date), N'Quản Lý', N'4700000   ', N'Nam')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [QueQuan], [NamSinh], [ChucVu], [LuongThang], [GioiTinh]) VALUES (N'10        ', N'Lê  Văn Sơn', N'Đắc lăck', CAST(N'1997-01-01' AS Date), N'Nhân Viên', N'3800000   ', N'Nam')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [QueQuan], [NamSinh], [ChucVu], [LuongThang], [GioiTinh]) VALUES (N'11        ', N'Nguyễn Thị Huyền', N'Gia Lai', CAST(N'1998-01-01' AS Date), N'Nhân Viên', N'3700000   ', N'Nữ')
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayThang], [TongTien], [MaNV], [MaNCC]) VALUES (N'1         ', CAST(N'2019-01-10' AS Date), 150000, N'1         ', N'1         ')
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayThang], [TongTien], [MaNV], [MaNCC]) VALUES (N'10        ', CAST(N'2019-10-10' AS Date), 150000, N'10        ', N'5         ')
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayThang], [TongTien], [MaNV], [MaNCC]) VALUES (N'11        ', CAST(N'2019-11-10' AS Date), 150000, N'11        ', N'1         ')
INSERT [dbo].[PhieuXuat] ([MaPX], [NgayThang], [TongTien], [MaNV], [MaKH]) VALUES (N'1         ', CAST(N'2019-01-10' AS Date), 450000, N'1         ', N'1         ')
INSERT [dbo].[PhieuXuat] ([MaPX], [NgayThang], [TongTien], [MaNV], [MaKH]) VALUES (N'10        ', CAST(N'2019-10-10' AS Date), 450000, N'10        ', N'10        ')
INSERT [dbo].[PhieuXuat] ([MaPX], [NgayThang], [TongTien], [MaNV], [MaKH]) VALUES (N'11        ', CAST(N'2019-11-10' AS Date), 450000, N'11        ', N'11        ')
INSERT [dbo].[UserTable] ([userName], [passWord], [properties]) VALUES (N'admin', N'12345678  ', N'admin')
ALTER TABLE [dbo].[DsChiTietHangTrongKho]  WITH CHECK ADD  CONSTRAINT [FK_DsChiTietHangTrongKho_HangHoa1] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MaHH])
GO
ALTER TABLE [dbo].[DsChiTietHangTrongKho] CHECK CONSTRAINT [FK_DsChiTietHangTrongKho_HangHoa1]
GO
ALTER TABLE [dbo].[DsChiTietHangTrongKho]  WITH CHECK ADD  CONSTRAINT [FK_DsChiTietHangTrongKho_Kho1] FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[DsChiTietHangTrongKho] CHECK CONSTRAINT [FK_DsChiTietHangTrongKho_Kho1]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_LoaiHH] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiHH] ([MaLoai])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_LoaiHH]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_HangHoa] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MaHH])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_HangHoa]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[HoaDonXuat]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonXuat_HangHoa] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MaHH])
GO
ALTER TABLE [dbo].[HoaDonXuat] CHECK CONSTRAINT [FK_HoaDonXuat_HangHoa]
GO
ALTER TABLE [dbo].[HoaDonXuat]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonXuat_PhieuXuat] FOREIGN KEY([MaPX])
REFERENCES [dbo].[PhieuXuat] ([MaPX])
GO
ALTER TABLE [dbo].[HoaDonXuat] CHECK CONSTRAINT [FK_HoaDonXuat_PhieuXuat]
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD  CONSTRAINT [FK_Kho_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCC] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCC]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien1] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien1]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_Khachhang1] FOREIGN KEY([MaKH])
REFERENCES [dbo].[Khachhang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_Khachhang1]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_NhanVien]
GO
